<div class="category-title" data-bind="collapse: 'category-nosecone'">Nosecone</div>

<div class="category-content" data-bind="with: $root.nosecone">
  <!-- Length -->
  <div class="parameter">
    <div class="parameter-title">Length</div>
    <div class="parameter-desc">Size of the nosecone</div>

    <input type="range" class="param-control" min="10" max="40" step="0.25" data-bind="sliderValue: length, triggerRedraw: length">
    <label class="param-value" data-bind="text: length"></label>"
  </div>

  <!-- Style -->
  <div class="parameter">
    <div class="parameter-title">Style</div>
    <div class="parameter-desc">Nosecone shape</div>

    <select class="param-control" data-bind="value: style, foreach: availableStyles, triggerRedraw: style">
      <option data-bind="value: num, text: label, css: {selected: num == $root.nosecone.style}"></option>
    </select>

  </div>

  <!-- Material -->
  <div class="parameter">
    <div class="parameter-title">Material</div>
    <div class="parameter-desc">Nosecone material</div>

    <select class="param-control" data-bind="value: material, foreach: $root.materials">
      <option data-bind="value: num, text: label, css: {selected: num == $root.nosecone.material}"></option>
    </select>

  </div>

</div> <!-- End Category Content -->
